//@import 'nib'

// What is in any folder starting with `_` will not be imported by default
// We do that in order to choose the exact order of stylus files

//@import '_theme/config'

@import '_mixins/fonts'
@import '_mixins/segoe_ui_symbol'
@import '_mixins/icons'
// `_mixins`: reusable style for elements: buttons, blocks, ...
// @import '_mixins/misc'
// @import '_mixins/buttons'