.nav-pager-item-view
  &
    display inline-block
    font 0/0 a
  a
    &
      width 40px
      display inline-block
      margin 0 2px
      height 40px
    .tab, .active-tab
      display inline-block
      width 40px
      height 4px
      background $color-neutral-light
      margin 0
    .tab
      margin-top 20px
    &:hover .tab
    &:active .tab
      opacity 0.8
    .active-tab
      background $color-main
      opacity 0