.debug
  opacity 0
  display none
  position absolute
  background rgba(0,0,0,0.6)
  color white
  font-size 12px
  z-index 100
  top 0
  right 0
  left 0
  height auto
  padding 20px
  font-family Arial