$color-main             = #428bca
$color-main-selected    = #2a6496
$color-good             = #74c53c
$color-bad              = #ff0000
$color-neutral          = #707173
$color-neutral-light    = #a0a0a0
$color-neutral-lighter  = #edeeee
$color-text-light       = #ffffff
$color-text             = #5e5e60
$color-text-dark        = $color-text