$font-folder = '/fonts/'

@font-face
  font-family: 'Segoe UI Symbol 8'
  src: url($font-folder + 'seguisym.eot')
  src: url($font-folder + 'seguisym.eot?#iefix') format('embedded-opentype'),
       url($font-folder + 'seguisym.woff') format('woff'),
       url($font-folder + 'seguisym.ttf')  format('truetype'),
       url($font-folder + 'seguisym.svg#c4d7ed968c58e3c9f1a9361353a93a1d') format('svg')
       
  font-style:   normal
  font-weight:  normal