//- Current model is category

//- We do not put data-route-category-id, because if category is specified
//- smartNagigate can find it in Url, and it will be added to data-route-name
a(data-route-name='article#index')
  h4 < #{name}
article